<ion-tabs>

  <ion-tab-bar slot="bottom" class="tabbarcolor">
    <ion-tab-button tab="tab1">
      <ion-icon name="file-tray-full-outline"></ion-icon>
      <ion-label class="TextN">{{'TabsNotas.title' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-label class="TextN">{{'TabsAnadir.title' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="construct-outline"></ion-icon>
      <ion-label class="TextN">{{'TabsConfi.title' | translate}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
