<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-grid>
      <ion-row>
        <ion-col size="2">
        </ion-col>
        <ion-col size="8">
          <ion-title class="titulos">
            {{'ListadeNotas.title' | translate}}
          </ion-title>
        </ion-col>
        <!-- AYUDA -->
        <ion-col size="2">
          <div style="text-align: end;">
            <ion-button shape="round" (click)="entraAyuda()" color="warning" size="small">
              <ion-icon name="information-circle-outline"></ion-icon>
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="buscar">
      <!-- SEARCHBAR -->
      <ion-searchbar placeholder="{{'BuscarN.title' | translate}}" (ionInput)="getItems($event)"></ion-searchbar>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- RECARGAR NOTAS -->
  <ion-refresher slot="fixed" (ionRefresh)="this.cargaDatos($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <!-- BORRAR NOTA -->
    <ion-item-sliding *ngFor="let nota of this.items;let i=index">
      <ion-item-options side="start" (ionSwipe)="this.presentAlert(nota.id)">
        <ion-item-option color="danger" expandable (click)="this.presentAlert(nota.id)">
          <ion-icon name="trash" style="font-size: x-large;"></ion-icon>
        </ion-item-option>
      </ion-item-options>

      <ion-item class="notaDIM">

        <ion-label (click)="this.ampliaNota(nota)">
          <ion-grid>

            <ion-row>
              <ion-col size="8" class="notaTIT">{{nota.titulo}}</ion-col>
              <ion-col size="4" class="notaFEC">{{nota.fecha|date:"dd/MM/yyyy"}}</ion-col>
            </ion-row>

            <ion-row>
              <ion-col class="notaTEX">{{nota.texto}}</ion-col>
            </ion-row>

          </ion-grid>
        </ion-label>

      </ion-item>

      <!-- EDITAR NOTA -->
      <ion-item-options side="end" (ionSwipe)="this.editaNota(nota)">
        <ion-item-option color="primary" expandable (click)="this.editaNota(nota)">
          <ion-icon name="pencil" style="font-size: x-large;"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>