ion-title {
    margin-top: 23px;
}

ion-searchbar {
    margin-bottom: 7px;
}

.notaDIM {
    margin-right: 14px;
}

.notaTIT {
    font-weight: bold;
    font-size: 17px;
}

.notaFEC {
    font-size: 12px;
    text-align: right;
}

.notaTEX {
    font-size: 14px;
}

.titulos{
    font-family: youregoneFont;
    text-align: center;
    margin-top: 4px;
    font-size: 22px;
}
