<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="titulos">
      {{'configuracion.title' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <!-- USUARIO -->
  <ion-list>
    <ion-list-header>{{'Usuario.title' | translate}}</ion-list-header>
    <ion-item>
      <ion-avatar slot="start">
        <img [src]="usuario.avatar">
      </ion-avatar>
      <ion-label class="name">{{usuario.name}}</ion-label>
      <!-- CERRAR SESIÓN -->
      <ion-button (click)="this.logout()" size="small">
        <ion-icon name="exit-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-icon name="mail-outline" class="iconT3"></ion-icon>
      <ion-label class="email">{{usuario.email}}</ion-label>
    </ion-item>
  </ion-list>

  <!-- IDIOMAS -->
  <ion-list>
    <ion-list-header>{{'Idioma.title' | translate}}</ion-list-header>
    <ion-item class="itemI">
      <ion-icon name="language-sharp" class="iconT3"></ion-icon>
      <ion-select placeholder="{{'IdS.title' | translate}} ({{Langselec}})" [(ngModel)]="lang" (ionChange)="changeLng($event)" 
      interface="alert" okText="{{'confirmar.title' | translate}}" cancelText="{{'cancelar.title' | translate}}">
        <ion-select-option value="es">{{'es.title' | translate}}</ion-select-option>
        <ion-select-option value="en">{{'en.title' | translate}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <!-- TEMAS -->
  <ion-list>
    <ion-list-header>{{'Temas.title' | translate}}</ion-list-header>
    <ion-item>
      <ion-icon name="moon-outline" class="iconT3"></ion-icon>
      <ion-label>{{'oscuro.title' | translate}}</ion-label>
      <ion-toggle slot="end" [ngModel]="darkMode" (ionChange)="changeTheme($event,0)"
        [disabled]="this.themeMode==1||this.themeMode==2"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-icon name="star-outline" class="iconT3"></ion-icon>
      <ion-label>{{'marvel.title' | translate}}</ion-label>
      <ion-toggle slot="end" [ngModel]="marvelMode" (ionChange)="changeTheme($event,1)"
        [disabled]="this.themeMode==0||this.themeMode==2"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-icon name="leaf-outline" class="iconT3"></ion-icon>
      <ion-label>{{'nature.title' | translate}}</ion-label>
      <ion-toggle slot="end" [ngModel]="natureMode" (ionChange)="changeTheme($event,2)"
        [disabled]="this.themeMode==1||this.themeMode==0"></ion-toggle>
    </ion-item>
  </ion-list>

</ion-content>