<ion-header [translucent]="true">
  <ion-toolbar class="color-toolbar">
    <ion-title class="titulos">
      AJUSTES Y HERRAMIENTAS
    </ion-title>
    <div class="element">
      <!-- CERRAR SESIÓN -->
      <ion-button (click)="this.logout()" color="warning" size="small" class="colorFB">
        <ion-icon class="salirsesion" name="exit-outline"></ion-icon>
        CERRAR SESIÓN
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <!-- USUARIO -->
    <ion-item class="usercolor">
      <ion-avatar slot="start">
        <img [src]="usuario.avatar">
      </ion-avatar>
      <ion-label>{{usuario.name}}</ion-label>
    </ion-item>
    <!-- LINTERNA -->
    <ion-item>
      <ion-button class="luz" (click)="this.luz()" color="tertiary" class="colorFB">
        <ion-icon name="flashlight-outline" class="luz"></ion-icon>
        Linterna
      </ion-button>
    </ion-item>
    <!-- FUTURAS HERRAMIENTAS -->
  </ion-list>
</ion-content>