.botongoole{
    margin: 15px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.icongoogle{
    padding-right: 8px;
    color: rgb(255, 255, 255);
}

.titulos {
    font-family: youregoneFont;
    text-align: center;
    font-size: 22px;
    margin-top: 15px;
}

.titulos2 {
    font-family: youregoneFont;
    text-align: center;
    font-size: 15px;
}