ion-item {
    margin-right: 14px;
    margin-bottom: 15px;
}

ion-header {
    margin-bottom: 10px;
}

ion-icon {
    margin-right: 1px;
}

ion-button {
    margin-left: 15px;
}

.borderRow {
    border-radius: 0% !important;
    //width: 50px !important;
    //height: 50px !important;
    border: 2px solid var(--ion-toolbar-border-color) !important;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.TN {
    text-align: left;
    font-weight: bold;
    padding-left: 2px;
}

.DN {
    padding-left: 10px;
    width: 60% !important;
}

.titulos {
    font-family: youregoneFont;
    margin-top: 11px;
    font-size: 20px;
    color: #FFC409;
    text-align: center;
}

.iconA {
    color: var(--ion-text-color) !important;
}